body {
    background-image: url("../assets/bg.jpg");
    background-size: cover;
}

.row-padding {
    padding: 40px 0;
}

// Cards

@keyframes example {
    from {
        background-color: $white;
    }

    to {
        background-color: $red;
    }
}

.card {
    min-height: 300px;
}

.card.running {
    background-color: $white !important;

    .card-title {
        color: $gray-800 !important;
    }
}

.card.ended {
    background-color: $red !important;
    animation-name: example;
    animation-duration: .6s;
    animation-iteration-count: 6;

    .card-title {
        color: $white !important;
    }

    .card-footer {
        background-color: $white !important;
    }

    .timer {
        color: $white;
    }
}

// Timer

.timer {
    color: #ff7878;
    font-size: 25px;

    @include media-breakpoint-up(lg) {
        font-size: 50px;
    }


    white-space: nowrap;
}